.Menu {
  background: #E0DED2;
  text-align: center;
  padding: 10px; }
  .Menu__title {
    margin-bottom: 10px; }
  .Menu__list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .Menu__item {
    box-sizing: border-box;
    background: #F7F7F7;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px; }
    .Menu__item:hover {
      border: 2px dashed #ccc; }
  .Menu__link {
    color: #777;
    text-decoration: none;
    font-size: 20px; }
