html, body {
  background: #F7F7F7;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2 {
  margin: 0;
}

.row {
  display: flex;
  margin: 10px 0;
}

input[type="text"] {
  flex-grow: 1;
}
